#Evitar que los pyc se sincronicen y causen conflictos
*.pyc

#Evitar que los archivos temporales generados por vim causen conflictos con el uso del editor
*.swp

#Avoid DIA
*.dia~

#Avoid Excel
~*.xlsx
.~lock*
