/* Estandarización de elemento */
body, div, ul, li, a, p {
	margin:0;
	padding:0;
}

body { font-family:'Convergence',sans-serif; }

#contenido { margin:5px auto; height:540px; }

#encabezado { background:#1C851C; padding:0px 5px; width:960px; margin:0 auto; 	border:10px #fff solid; border-radius:10px; box-shadow:-3px -3px 20px #000; }
#encabezado h1 { color:#FFFFFF; letter-spacing:-3px; text-align:center; text-shadow:2px 2px #000; }
#encabezado h1 img{ position:absolute; margin-top:40px;}
#encabezado h2 { color:#000205; text-align:right; text-shadow:-1px -1px #fff;}

#usuariobar {background:#F6F4E9; padding:0px 5px; width:960px; margin:0 auto; 	border:10px #fff solid; border-radius:10px; box-shadow:-3px -3px 20px #000;}
#usuariobar p { text-align:right; }

#principal { text-align:center; margin:20px auto; width:960px; border:10px #fff solid; border-radius:10px; box-shadow:-3px -3px 20px #000; background:#F5F3E5;}
#principal ul { margin:0 auto; text-align:center; width:462px; }
#tab-Produccion ul, #tab-Almacen ul, { list-style:none; }
#tab-Produccion ul li , #tab-Almacen ul li { display:block; padding:10px; }
/*
#tab-Produccion ul li , #tab-Almacen ul li{ display:inline; }
*/
.main { margin:10px 0px; color:#FF8400 !important; font-weight:bold; }
.main:hover { text-decoration:none; }
.extra { margin:10px 0px; color:#FF8400 !important; font-weight:bold; }
.extra:hover { text-decoration:none; }

#navigation { text-align:left; font-family:sans-serif; }
#navigation p a { color:#FF8400; font-weight:bold; padding:0px 10px;}
#navigation p a:hover { text-decoration:none; }

#elementos { font-family:sans-serif; text-align:left; margin:20px 10px;}
#elementos ol { text-transform:capitalize; }
#elementos ol li .docu { text-decoration:none; color:#E68B09; text-transform:none;}
#elementos ol li .docu:hover { color:#FFA500; }
#elementos .detalleElemento { text-align:left; }

.instruccion { color:#42B222; font-size:0.9em; }

#formulario { width:700px; margin:0 auto; text-align:center; padding:25px;}
#formulario label { font-size:18px; font-family:sans-serif; color:#444444; margin:5px;}
#formulario input { width:370px; padding:5px; font-size:20px; margin:5px; font-family:sans-serif; }
#formulario .errorlist{ color:#FF0018; font-size:15px; list-style:none; background:none !important; font-weight:normal !important; border:none !important; text-align:right !important; } 
#formulario .errorlist li { float:right !important; font-size:0.7em;}
#formulario p { width:600px; text-align:right;}
#formulario p .boton { color:#fff; background:#43B222; border:1px solid #d2d2d2; border-radius:3px; box-shadow:1px 1px 4px #000; cursor:pointer;}
/*
#formulario p label { text-align:right; float:left; padding:5px 0px; width:90px;}
*/
#formulario p label { padding:5px 0px; width:90px;}
#formulario p select { width:385px; padding:5px; font-size:20px; margin:5px; font-family:sans-serif; overflow:hidden; background:url('../imagenes/select.jpg') no-repeat right #ddd; }

#pie { padding:0px 5px; width:960px; margin:0 auto; text-align:right; color:#000; font-size:0.9em; letter-spacing:-1px;}

