/* Estandarización de elemento */
body, div, ul, li, a, p {
	margin:0;
	padding:0;
}

body { font-family:'Convergence',sans-serif; }

#contenido { margin:5px auto; height:540px; }

#encabezado { background:#1C851C; padding:0px 5px; width:960px; margin:0 auto; 	border:10px #fff solid; border-radius:10px; box-shadow:-3px -3px 20px #000; }
#encabezado h1 { color:#FFFFFF; letter-spacing:-3px; text-align:center; text-shadow:2px 2px #000; }
#encabezado h1 img{ position:absolute; margin-top:40px;}
#encabezado h2 { color:#000205; text-align:right; text-shadow:-1px -1px #fff;}

#principal { text-align:center; margin:20px auto; width:960px; border:10px #fff solid; border-radius:10px; box-shadow:-3px -3px 20px #000;}
#principal ul { margin:0 auto; text-align:center; width:460px; }
#tab-Produccion ul, #tab-Almacen ul { list-style:none; }
#tab-Produccion ul li , #tab-Almacen ul li { display:block; padding:10px; }
/*
#tab-Produccion ul li , #tab-Almacen ul li{ display:inline; }
*/
.main { margin:10px 0px; color:#FF8400 !important; font-weight:bold; }
.main:hover { text-decoration:none; }
.extra { margin:10px 0px; color:#FF8400 !important; font-weight:bold; }
.extra:hover { text-decoration:none; }

#pie { padding:0px 5px; width:960px; margin:0 auto; text-align:right; color:#000; font-size:0.9em; letter-spacing:-1px;}
