#trabajosicon { float:left; }
#trabajosicon p {text-align:center;}
#trabajosicon p a {text-decoration:none; color:#FF6A00; font-weight:bold; font-size:1.1em;}
#trabajosicon p a:hover { color:#FFA500; }
#trabajosicon img:hover { background:url('../imagenes/trabajosfondo.png'); }

#equiposicon { float:left; margin-left:5px;}
#equiposicon p {text-align:center;}
#equiposicon p a {text-decoration:none; color:#FF6A00; font-weight:bold; font-size:0.8em;}
#equiposicon p a:hover { color:#FFA500; }
#equiposicon img:hover { background:url('../imagenes/equiposfondo.png'); }

#interesadosicon { float:left; margin-left:5px;}
#interesadosicon p {text-align:center;}
#interesadosicon p a {text-decoration:none; color:#FF6A00; font-weight:bold; font-size:0.8em;}
#interesadosicon p a:hover { color:#FFA500; }
#interesadosicon img:hover { background:url('../imagenes/interesadosfondo.png'); }

#tdocsicon { float:left; margin-left:5px;}
#tdocsicon p {text-align:center;}
#tdocsicon p a {text-decoration:none; color:#FF6A00; font-weight:bold; font-size:0.7em;}
#tdocsicon p a:hover { color:#FFA500; }
#tdocsicon img:hover { background:url('../imagenes/tdocsfondo.png'); }

#reportesaicon { float:left; margin-left:10px;}
#reportesaicon p {text-align:center;}
#reportesaicon p a {text-decoration:none; color:#FF6A00; font-weight:bold; font-size:1.1em;}
#reportesaicon p a:hover { color:#FFA500; }
#reportesaicon img:hover { background:url('../imagenes/reportesafondo.png'); }

#reportespicon { float:left; margin-left:10px;}
#reportespicon p {text-align:center;}
#reportespicon p a {text-decoration:none; color:#FF6A00; font-weight:bold; font-size:0.7em;}
#reportespicon p a:hover { color:#FFA500; }
#reportespicon img:hover { background:url('../imagenes/reportespfondo.png'); }

#reportespeicon { float:left; margin-left:10px;}
#reportespeicon p {text-align:center;}
#reportespeicon p a {text-decoration:none; color:#FF6A00; font-weight:bold; font-size:0.7em;}
#reportespeicon p a:hover { color:#FFA500; }
#reportespeicon img:hover { background:url('../imagenes/reportespefondo.png'); }

#entradasalidaicon { float:left; margin-left:20px;}
#entradasalidaicon p {text-align:center;}
#entradasalidaicon p a {text-decoration:none; color:#FF6A00; font-weight:bold; font-size:1em;}
#entradasalidaicon p a:hover { color:#FFA500; }
#entradasalidaicon img:hover { background:url('../imagenes/entradasalidafondo.png'); }

#entradasicon { float:left; margin-left:80px;}
#entradasicon p {text-align:center;}
#entradasicon p a {text-decoration:none; color:#FF6A00; font-weight:bold; font-size:1em;}
#entradasicon p a:hover { color:#FFA500; }
#entradasicon img:hover { background:url('../imagenes/entradafondo.png'); }

#salidasicon { float:left; margin-left:80px;}
#salidasicon p {text-align:center;}
#salidasicon p a {text-decoration:none; color:#FF6A00; font-weight:bold; font-size:1em;}
#salidasicon p a:hover { color:#FFA500; }
#salidasicon img:hover { background:url('../imagenes/salidafondo.png'); }

#articulosicon { float:left; margin-left:150px;}
#articulosicon p {text-align:center;}
#articulosicon p a {text-decoration:none; color:#FF6A00; font-weight:bold; font-size:1.1em;}
#articulosicon p a:hover { color:#FFA500; }
#articulosicon img:hover { background:url('../imagenes/articulosfondo.png'); }
