
#tabular { border:1px solid #000; margin:0 auto;}
#tabular caption { font-size:1.3em; letter-spacing:-1px; }
#tabular caption .total { color:#FF0000; font-weight:bold;}
#tabular thead, table tfoot{ background:#000; border:1px solid #ccc; color:#fff; text-align:center; font-size:0.8em;}
#tabular tbody { font-size:0.8em; background:#ccc; text-transform:uppercase;}
#tabular tbody .entrada { background:#63E963; }
#tabular tbody .salida { background:#F9D77D; }
#tabular tbody tr td a { display:block; color:#4D4D4D; text-decoration:none;}
#tabular tbody tr td a:hover {color:#ffffff;}

#tabular tr:hover{background:#000 !important; color:white;}
#tabular th {background:#000; color:#fff; padding:3px;}
#tabular td {padding:3px;}

.resultado { font-size:1.5em; letter-spacing:-1px; }
.resultado span {color:#FF0000; text-transform:uppercase;}
