{% extends 'base.html' %}
{% load humanize %}
{% block css %}<link href='/static/css/tablas.css' rel='stylesheet'>{% endblock %}
{% block titulo %}Articulos {% endblock %}
{% block principal %}
	<div id='principal'>
		<div id='navigation'>
			<p>
				<a class='naveurl' href='/' title='Oficina de publicaciones e impresiones UNCP'>Volver al inicio</a>
				<a class='naveurl' href='/almacen/articulos/nuevo' >Registrar un artículo nuevo</a>
				<a class='naveurl' href='/almacen/articulos/registro/nuevo' >Registrar Entrada o Salida</a>
			</p>
		</div>
		<div id='elementos'>
			<table id='tabular'>
				<caption><span class='total'>{{total}}</span> artículos registrados en almacén.</caption>
				<thead>
					<tr>
						<th>Nombre del artículo</th><th>Saldo actual</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>Nombre del artículo</th><th>Saldo actual</th>
					</tr>
				</tfoot>
				<tbody>
				{% for elemento in datos %}
					<tr>
						<td><a class='docu' href='detalle/{{elemento.pk}}'>{{elemento.nombre}}</a></td>
						<td><a class='docu' href='detalle/{{elemento.pk}}'>{{elemento.sactual|intcomma}}</a></td>
					</tr>
				{% empty %}
					<p>No hay elementos disponibles</p>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
