{% extends 'base.html' %}
{% block titulo %}Articulos {% endblock %}
{% block principal %}
	<div id='principal'>
		<div id='navigation'>
			<p>
				<a class='naveurl' href='/' title='Oficina de publicaciones e impresiones UNCP'>Volver al inicio</a>
				<a class='naveurl' href='/almacen/articulos/nuevo' >Registrar un artículo nuevo</a>
				<a class='naveurl' href='/almacen/articulos/registro/nuevo' >Registrar Entrada o Salida</a>
			</p>
		</div>
		<div id='elementos'>
			<ol>
			{% for elemento in datos %}
					<li><a class='docu' href='detalle/{{elemento.pk}}'>{{elemento.nombre}}, Saldo actual: {{elemento.sactual}}</a></li>
			{% empty %}
				<li>No hay elementos disponibles</li>
			{% endfor %}
			</ol>
		</div>
	</div>
{% endblock %}
