{% extends 'base.html' %}
{% load humanize %}
{% block css %}<link href='/static/css/tablas.css' rel='stylesheet'>{% endblock %}
{% block titulo %}Detalle: {{dato.nombre}}{% endblock %}
{% block principal %}
	<div id='principal'>
		<div id='navigation'>
			<p>
				<a class='naveurl' href='/almacen/articulos/'>Volver a la lista de artículos</a>
				<a class='naveurl' href='../../editar/{{dato.pk}}/' >Editar los datos de este artículo</a>
			</p>
		</div>
		<div id='elementos'>
			<table id='tabular'>
				<tr><th>Nombre</th><td>{{dato.nombre}}</td></tr>
				<tr><th>Marca</th><td>{{dato.marca|default:'No registrada'}}</td></tr>
				<tr><th>Código</th><td>{{dato.codigo|default:'No registrado'}}</td></tr>
				<tr><th>Características</th><td>{{dato.caracteristica|default:'No registradas'}}</td></tr>
				<tr><th>Unidad de medida</th><td>{{dato.umedida|default:'No registrada'}}</td></tr>
				<tr><th>Saldo Actual</th><td>{{dato.sactual|intcomma}}</td></tr>
				<tr><th>Precio Referencial</th><td>{{precioref|intcomma}}</td></tr>
			</table>
		</div>
	</div>
{% endblock %}
