<!DOCTYPE html>
<html lang='es'>
<head>
	<title>{% block titulo %} Inicio {% endblock %} - 
		Sistema de registro de producción y Almacen | Oficina de Publicaciones e Impresiones | UNCP
	</title>
	<meta charset='UTF-8'>
	<link rel='shorcut icon' href='/static/imagenes/uncp.png'/>
	<link href='/static/css/base.css' rel='stylesheet'>
	<link href='http://fonts.googleapis.com/css?family=Convergence' rel='stylesheet' type='text/css'>
	{% block css %}{% endblock %}
	{% block javascript %}{% endblock %}
</head>
<body>
<div id='contenido'>
	<div id='encabezado'>
		<h1><img src='/static/imagenes/uncp.png' alt='UNCP'>Sistema de Registro de Producción y Almacén </h1>
		<h2>Oficina de Publicaciones e Impresiones</h2>
	</div>	
   	{% block principal %}
	{% endblock %}
	<div id='pie'>
		<p>&copy; 2011 - UNCP - Oficina de Publicaciones e Impresiones</p>
	</div>
</div>
</body>
</html>
