<!DOCTYPE html>
<html lang='es'>
<head>
	<title>{% block titulo %} Inicio {% endblock %} - Oficina de Publicaciones e Impresiones - UNCP
	</title>
	<meta charset='UTF-8'>
	<link rel='shorcut icon' href='/static/imagenes/uncp.png'/>
	<link href='/static/css/base.css' rel='stylesheet' media='screen'>
	<link href='http://fonts.googleapis.com/css?family=Convergence' rel='stylesheet' type='text/css' media='screen'>
	{% block css %}{% endblock %}
	{% block javascript %}{% endblock %}
</head>
<body>
<div id='contenido'>
	<div id='encabezado'>
		<h1>Sistema de Registro de Producción y Almacén </h1>
		<h2>Oficina de Publicaciones e Impresiones</h2>
		<img src='/static/imagenes/uncp.png' alt='UNCP'>
	</div>
	<div id='usuariobar'>
		<div id='navigation'>
			<div id='user'>
				<p>Hola, {{user.first_name}} {{user.last_name}}</p>
			</div>
			<div id='inicio'>
				<p><a href='/'><img src='/static/imagenes/inicio.png'><br><span>Inicio</span></a></p>
			</div>
			{% block navegacion %}{% endblock %}
		</div>
		<div id='cerrar'><p><a href='/salida/'><img src='/static/imagenes/salir.png'><br><span>Salir</span></a></p></div>
	</div>	
   	{% block principal %}
	{% endblock %}
	<div id='pie'>
		<p>&copy;Lic. Miriam Montero Meza - Jefe Grafica UNCP</p>
	</div>
</div>
</body>
</html>
