{% extends 'base.html' %}
{% load humanize %}
{% block css %}<link href='/static/css/tablas.css' rel='stylesheet'>{% endblock %}
{% block titulo %}Detalle: {{dato.codigo}}{% endblock %}
{% block navegacion %}
			<div class='lista'>
				<p><a href='/produccion/trabajos/' ><img src='/static/imagenes/lista.png'><br><span>Trabajos registrados</span></a></p>
			</div>
			<div class='editar'>
				<p><a href='../../editar/{{dato.pk}}/' ><img src='/static/imagenes/editar.png'><br><span>Editar trabajo</span></a></p>
			</div>
{% endblock %}
{% block principal %}
	<div id='principal'>
		<div id='elementos'>
			<table id='tabular'>
				<tr><th>Tipo de documento</th><td>{{dato.tdocumento|default:'No registrado'}}</td></tr>
				<tr><th>Código</th><td>{{dato.codigo|default:'No registrado'}}</td></tr>
				<tr><th>Interesado</th><td>{{dato.interesado}}</td></tr>
				<tr><th>Equipo</th><td>{{dato.equipo}}</td></tr>
				<tr><th>Asunto</th><td>{{dato.asunto|default:'No registrado'}}</td></tr>
				<tr><th>Tiraje</th><td>{{dato.tiraje|default:'No registrado'}}</td></tr>
				<tr><th>Fecha de registro</th><td>{{dato.fentrega}}</td></tr>
				<tr><th>Contómetro</th><td>{{dato.contometro|default:'No registrado'}}</td></tr>
				<tr><th>Costo</th><td>{{dato.costo|intcomma}}</td></tr>
				<tr><th>Número de expediente</th><td>{{dato.nexpediente|default:'No registrado'}}</td></tr>
			</table>
		</div>
	</div>
{% endblock %}
