{% extends 'base.html' %}
{% block titulo %}Agregar o editar nuevos trabajos {% endblock %}
{% block css %}
	<link href='/static/css/south-street/jquery-ui-1.8.16.custom.css' rel='stylesheet'>
{% endblock %}
{% block javascript %}
	<script src='/static/js/jquery-1.6.2.min.js'></script>
	<script src='/static/js/jquery-ui-1.8.16.custom.min.js'></script>
	<script src='/static/js/jquery.ui.datepicker-es.js'></script>
	<script src='/static/js/legolax.js'></script>
{% endblock %}
{% block principal %}
<div id='dialogo' title='Confirmación de cambios' style="display:none;">
		<p>¿Desea guardar los cambios?</p>
	</div>
	<div id='principal'>
		<div id='navigation'>
			<p>
				<a class='naveurl' href='/'>Volver al inicio</a>
				<a class='naveurl' href='/produccion/trabajos/' >Volver a la lista de trabajos</a>
			</p>
		</div>
		<div id='elementos'>
			<p class='instruccion'>* Asegurese que el trabajo que desea registrar no existe ya en la lista anterior</p>
			<form id='formulario' method='post' action=''>{% csrf_token %}
			{{formulario.as_p}}
			<p><input id='dialogSencillo' type='button' value='Confirmar'/></p>
			</form>
		</div>
{% endblock %}
