{% extends 'base.html' %}
{% load humanize %}
{% block css %}<link href='/static/css/tablas.css' rel='stylesheet'>{% endblock %}
{% block titulo %}Trabajos {% endblock %}
{% block navegacion %}
			<div class='nuevo'>
				<p><a href='nuevo' ><img src='/static/imagenes/nuevo.png'><br><span>Nuevo trabajo</span></a></p>
			</div>
{% endblock %}
{% block principal %}
	<div id='principal'>
		<div id='elementos'>
			<table id='tabular'>
				<caption>Lista de trabajos atendidos</caption>
				<thead>
					<tr>
						<th>Tipo</th><th>Código</th><th>Fecha de Entrega</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>Tipo</th><th>Código</th><th>Fecha de Entrega</th>
					</tr>
				</tfoot>
				<tbody>
				{% for elemento in datos %}
				<tr>
					<td><a href='detalle/{{elemento.pk}}'>{{elemento.tdocumento}}</a></td>
					<td><a href='detalle/{{elemento.pk}}'>{{elemento.codigo}}</a></td>
					<td><a href='detalle/{{elemento.pk}}'>{{elemento.fentrega|date:"SHORT_DATE_FORMAT"}}</a></td>
					</a>
				</tr>
				{% empty %}
					<p>No hay trabajos registrados</p>			
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
