{% extends 'base.html' %}
{% block titulo %}Equipos {% endblock %}
{% block principal %}
	<div id='principal'>
		<div id='navigation'>
			<p>
				<a class='naveurl' href='/' title='Oficina de publicaciones e impresiones UNCP'>Volver al inicio</a>
				<a class='naveurl' href='nuevo' >Registrar un equipo nuevo</a>
			</p>
		</div>
		<div id='elementos'>
			<ol>
			{% for elemento in datos %}
					<li><a href='editar/{{elemento.pk}}'>{{elemento.nombre}}</a></li>
			{% endfor %}
			</ol>
		</div>
	</div>
{% endblock %}
