{% extends 'base.html' %}
{% block titulo %}Inicio{% endblock %}
{% block principal %} 
	<div id='principal'>
		<ul>
			<li><a href='#tab-Produccion' class='botonProduccion' title='Gestiona los trabajos que se solicitan a la imprenta'>Registro de producción</a></li>
			<li><a href='#tab-Almacen' class='botonAlmacen' title='Gestiona los recursos del almacén '>Registro de almacén</a></li>
		</ul>
		<div id='tab-Produccion'>
			<ul>
				<li><a href='#' class='main'>Trabajos</a></li>
				<li><a href='/produccion/equipos-interesados-documentos/' class='extra'>Equipos, Interesados, Documentos</a></li>
			</ul>
		</div>
		<div id='tab-Almacen'>
			<ul>
				<li><a href='#' class='main'>Entrada | Salida</a></li>
				<li><a href='#' class='extra'>Registro de Artículos</a></li>
			</ul>
		</div>
	</div>
{% endblock %}
