{% extends 'base.html' %}
{% load humanize %}
{% block titulo %}Reporte Anual de Producción {% endblock %}
{% block css %}
	<link href='/static/css/south-street/jquery-ui-1.8.16.custom.css' rel='stylesheet'>
{% endblock %}
{% block javascript %}
	<script src='/static/js/jquery-1.6.2.min.js'></script>
	<script src='/static/js/jquery-ui-1.8.16.custom.min.js'></script>
	<script src='/static/js/legolax.js'></script>
{% endblock %}
{% block principal %}
	<div id='principal'>
		<div id='navigation'>
			<p>
				<a class='naveurl' href='/' title='Oficina de publicaciones e impresiones UNCP'>Volver al inicio</a>
			</p>
		</div>
		{% if formulario %}
		<div id='elementos'>
			<p class='instruccion'>* Ingrese el año que desea consultar, debe ingresarse los cuatro digitos del año. Ejemplo:2011</p>
			<form id='formulario' method='post' action=''>{% csrf_token %}
			{{formulario.as_p}}
			<p><input id='dialogSencillo' class='boton' type='submit' value='Consultar'/></p>
			</form>
		</div>
		{% endif %}
		{% if datos %}
			Reporte de Producción del {{anio}}
			{% for elemento in datos %}
				<li>{{elemento.codigo}} {{elemento.asunto}} {{elemento.fentrega}} {{elemento.costo|default:'No registrado'|intcomma}}
			{% endfor %}
			Costo total anual : {{suma|intcomma}}
		{% endif %}
	</div>
{% endblock %}
