{% extends 'base.html' %}
{% load humanize %}
{% block css %}
	<link href='/static/css/south-street/jquery-ui-1.8.16.custom.css' rel='stylesheet' media='screen'>
	<link href='/static/css/tablas.css' rel='stylesheet' media='screen'>
	<link href='/static/css/imprimir.css' rel='stylesheet' media='print'>
{% endblock %}
{% block titulo %}Entradas y Salidas de Articulos {% endblock %}
{% block navegacion %}
			<div class='nuevo'>
				<p><a href='/almacen/articulos/registro/nuevo' ><img src='/static/imagenes/nuevo.png'><br><span>Nueva entrada o salida</span></a></p>
			</div>
			<div class='lista'>
				<p><a href='/almacen/articulos/' ><img src='/static/imagenes/lista.png'><br><span>Artículos registrados</span></a></p>
			</div>
			<div class='listaentradas'>
				<p><a href='/almacen/articulos/registro/entradas/' ><img src='/static/imagenes/entrada.png'><br><span>Entradas registradas</span></a></p>
			</div>
{% endblock %}
{% block principal %}
	<div id='principal'>
		<div id='elementos'>
			<table id='tabular'>
				<caption>Salidas de almacén - Cantidad de registros: <span class='total'>{{total}}</span></caption>
				<thead>
				  <tr>
					<th>Artículo</th><th>Detalle</th><th>Cantidad</th>
					<th>Fecha</th><th>Tipo</th><th>Precio Unitario S/.</th><th>Precio Total S/.</th>
				  </tr>
				</thead>
				<tfoot>
				  <tr>
					<th>Artículo</th><th>Detalle</th><th>Cantidad</th>
					<th>Fecha</th><th>Tipo</th><th>Precio Unitario S/.</th><th>Precio Total S/.</th>
				  </tr>
				</tfoot>
				<tbody>
						{% for elemento in datos %}
						{% if elemento.tipo == 's' %}<tr class='salida'>{% else %}<tr class='entrada'>{% endif %}
							<td>{{elemento.articulo}}</td>
							<td>{{elemento.detalle|default:'no registrado'}}</td>
							<td>{{elemento.cantidad|intcomma}}</td>
							<td>{{elemento.fregistro|date:"SHORT_DATE_FORMAT"}}</td>
							<td>{% if elemento.tipo == 's' %}salida{% else %}entrada{% endif %}</td>
							<td>{{elemento.preciouni|default:'no registrado'|intcomma}}</td>
							<td>{{elemento.preciototal|default:'no registrado'|intcomma}}</td>
						</tr>
						{% empty %}
							<tr><td>No hay registros disponibles</td></tr>
						{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
