{% extends 'base.html' %}
{% block titulo %}Entrada o Salida de Almacén{% endblock %}
{% block css %}
	<link href='/static/css/south-street/jquery-ui-1.8.16.custom.css' rel='stylesheet'>
{% endblock %}
{% block javascript %}
	<script src='/static/js/jquery-1.6.2.min.js'></script>
	<script src='/static/js/jquery-ui-1.8.16.custom.min.js'></script>
	<script src='/static/js/jquery.ui.datepicker-es.js'></script>
	<script src='/static/js/legolax.js'></script>
{% endblock %}
{% block principal %}
	<div id='dialogo' title='Confirmación de cambios' style="display:none;">
		<p>¿Desea guardar los cambios?</p>
	</div>
	<div id='principal'>
		<div id='navigation'>
			<p>
				<a class='naveurl' href='/' title='Oficina de publicaciones e impresiones UNCP'>Volver al inicio</a>
				<a class='naveurl' href='/almacen/articulos/registro/' >Volver a la lista de entradas y salidas</a>
			</p>
		</div>
		<script>
			$(function(){
				var todosinteresados = [
					{% for articulo in articulos %}
					'{{articulo.nombre|safe}}',
					{% endfor %}
				];
				$("#articulo").autocomplete({
					source:todosinteresados
				});
				$("#id_articulo").autocomplete({
					source:todosinteresados
				});
			});
		</script>
		<div id='elementos'>
			<p class='instruccion'>* Asegurese que los datos que están registrando sean correctos</p>
			<form id='formulario' method='post' action=''>{% csrf_token %}
				{{formulario.as_p}}
			<p><input id='dialogSencillo' class='boton' type='button' value='Confirmar'/></p>
			</form>
		</div>
	</div>
{% endblock %}
