{% extends 'base.html' %}
{% block titulo %}Entrada | Salida {% endblock %}
{% block principal %}
	<div id='principal'>
		<div id='navigation'>
			<p>
				<a class='naveurl' href='/' title='Oficina de publicaciones e impresiones UNCP'>Volver al inicio</a>
				<a class='naveurl' href='nuevo' >Registrar una entrada o salida nueva</a>
			</p>
		</div>
		<div id='elementos'>
			<ol>
			{% for elemento in datos %}
					<li><a class='docu' href='detalle/{{elemento.pk}}'>{{elemento.codigo}} - Cantidad: {{elemento.cantidad}} - Tipo: {{elemento.cantidad}}</a></li>
			{% endfor %}
			</ol>
		</div>
	</div>
{% endblock %}
