{% extends 'base.html' %}
{% block titulo %}Editar o agregar equipos{% endblock %}
{% block css %}
	<link href='/static/css/south-street/jquery-ui-1.8.16.custom.css' rel='stylesheet'>
{% endblock %}
{% block javascript %}
	<script src='/static/js/jquery-1.6.2.min.js'></script>
	<script src='/static/js/jquery-ui-1.8.16.custom.min.js'></script>
	<script src='/static/js/legolax.js'></script>
{% endblock %}
{% block navegacion %}
			<div class='lista'>
				<p><a href='/produccion/tipo-documentos/' ><img src='/static/imagenes/lista.png'><br><span>Tipos de documentos registrados</span></a></p>
			</div>
{% endblock %}
{% block principal %}
	<div id='dialogo' title='Confirmación de cambios' style="display:none;">
		<p>¿Desea guardar los cambios?</p>
	</div>
	<div id='principal'>
		<div id='elementos'>
			<p class='instruccion'>* Verifique los datos antes de confirmar.</p>
			<form id='formulario' method='post' action=''>{% csrf_token %}
			{{formulario.as_p}}
			<p><input id='dialogSencillo' class='boton' type='button' value='Confirmar'/></p>
			</form>
		</div>
	</div>
{% endblock %}
